<h2><%= @user.name %>'s Show Page</h2>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="content">
      <p>Welcome to the your virtual wine cellar!
      <br>
      <br>
      You may view all wines archived to this site, or submit your own.
     </p>
    </div>
  </div>
</div>
<h3>Email:</h3>
<h5><%= @user.email %></h5>