<h2>Create A New Wine Entry</h2>
<br>
<br>
<form action="/wine_entries" method="post">
   <label for="wine name">Name of Wine:</label>
   <input type="text" name="name" value="">
   <br>
   <br>
   <label for="wine type">Type of Wine:</label>
   <input type="text" name="type" value="">
   <br>
   <br>
   <label for="vintage">Vintage:</label>
   <input type="integer" name="vintage" value="">
   <br>
   <br>
   <label for="region">Region:</label>
   <input type="text" name="region" value="">
   <br>
   <br>
   <label for="wine notes">Notes:</label>
   <input type="text" name="notes" value="">
   <br>
   <br>
   <input type="submit" name="" value="Create Entry">
</form>