<h2>Archive a bottle to your collection</h2>
<br>
<br>
<form action="/wine_entries" method="post">
   <strong> <label for="wine_name">Name of Wine:</label></strong>
   <input type="text" name="wine_name">
   <br>
   <h6><em>(ex: Who made the wine?, the domaine, chateau...)</em></h6>
   <br>
   <strong><label for="wine_type">Type of Wine:</label></strong>
   <input type="text" name="wine_type">
   <br>
   <h6><em>(ex: red, white, sparkling, or list the grape)</em></h6>
   <br>
   <strong><label for="vintage">Vintage:</label></strong>
   <input type="integer" name="vintage">
   <br>
   <h6><em>(ex: Is there a year listed?)</em></h6>
   <br>
   <strong><label for="region">Region:</label></strong>
   <input type="text" name="region">
   <br>
   <h6><em>(ex: Where was the wine made?)</em></h6>
   <br>
   <strong><label for="wine_notes">Personal Notes:</label></strong>
   <input type="text" name="wine_notes">
   <br>
   <h6><em>(Personal notes regarding the wine: Name of winery or store you purchased it from? Did you like it? Tasting notes? What was the occasion for the bottle, or for where/when would you drink this again?)</em></h6>
   <br>
   <input type="submit" name="" value="Create Entry">
</form>