<h2>Create A New Wine Entry</h2>
<br>
<br>
<form action="/wine_entries" method="post">
   <label for="type">Type of Wine:</label><br>
   <input type="text" name="wine_entries" value="">
   <input type="submit" name="" value="Create Entry">


</form>