<h1>Wine Entry</h1>
<h2 style="color: purple;"><em>Archive a bottle that you own, have tried, or would like to try some day.</em></h2>
   <br>
   <br>

<form action="/wine_entries" method="post"> 
   <h3><label for="wine_name">Name of Wine:</label></h3>
   <input type="text" name="wine_name"><br>
   <em>(ex: Who made the wine? List full name on the bottle including domaine, chateau, and winery)</em>
      <br>
      <br>
   <h3><label for="wine_type">Type of Wine:</label></h3>
   <input type="text" name="wine_type"><br>
   <em>(List between red, white, rose, or sparkling)</em>
      <br>
      <br>
   <h3><label for="vintage">Vintage:</label></h3>
   <input type="integer" name="vintage"><br>
   <em>(ex: Is there a year listed? Leave blank if you're not sure)</em>
      <br>
      <br>
   <h3><label for="region">Region:</label></h3>
   <input type="text" name="region"><br>
   <em>(ex: List by area or country)</em>
      <br>
      <br>
   <h3><label for="wine_notes">Personal Notes:</label></h3>
   <em>(What are the grapes/blend? Name of winery or store you purchased it from? Specific region of the country this wine is from?
   Did you like it? Tasting notes? What was the occasion for the bottle, or for where/when would you drink this again?)</em><br>
   <textarea name="wine_notes" style="width:300px; height:150px;"></textarea>
   <br>
   <br>
   <input type="submit" name="" value="Create Entry">
</form>
<br>
<br>
<< <a href="/login">Back to Show Page</a>