SHOW PAGE FOR WINE ENTRY

<p><%= @wine_entry.wine_type %></p>


<% if authorized_to_edit?(@wine_entry) %>
    <a href="/wine_entries/<%= @wine_entry.id %>/edit">Edit Entry</a>
    <br>
    <br>
    <form action="/wine_entries/<%= @wine_entry.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Entry">
    </form>
<% end %>