<h1>About Page</h1>


This page was inspired by the #WinetyNinePercent... the 99% of normal wine drinkers
<br>
<br>
Whether you are a novice wine drinker or an avid collector, or schooled sommelier,
this app presents as a simple virtual archive for logging in wines of your possession, wines you've come across, or would like to try some day.
<br>
<br>
Share with the community wines of your liking, or disliking.
<br>
<br>
<br>
@WinetyNine<br>
http://WinetyNinePercent.com <em>coming soon</em>
<br>
<br>
<div style="display:inline-block;
            border:2px solid rgb(104, 9, 24);
            border-radius:1px;
            padding:2px;
            background:linear-gradient(to left,rgb(250, 246, 246),
            rgb(240, 173, 20));
            color:rgb(62, 10, 152)">
    
            << <a href="/">Back</a>
</div>