<h1>About Page</h1>


This page was inspired by the #WinetyNinePercent... the 99% of normal wine drinkers
<br>
<br>
Whether you are a novice wine drinker or an avid collector, or schooled sommelier,
this app presents as a simple virtual archive for logging in wines of your possession, wines you've come across, or would like to try some day.
<br>
<br>
Share with the community wines of your liking, or disliking.
<br>
<br>
<br>
@WinetyNine<br>
http://WinetyNinePercent.com <em>coming soon</em>