<h2>Log in to access your account</h2>
<br>
<h3>
    <form action="/login" method="post">
        Email <input type="text" name="email"> Password: <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <br>
    <br>
</h3>

<div style="display:inline-block;
            border:2px solid rgb(104, 9, 24);
            border-radius:1px;
            padding:2px;
            background:linear-gradient(to left,rgb(250, 246, 246),
            rgb(240, 173, 20));
            color:rgb(62, 10, 152)">
    
            << <a href="/">Back to Main Page</a>
</div>