<h2>This is the login page</h2>
<br>
<br>
<form action="/login" method="post">
    <label for="email">Email</label>
    <input type="text" name="email" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <input type="submit" value="Login">
    <br>
    <br>
</form>

<div style="display:inline-block;
            border:2px solid rgb(104, 9, 24);
            border-radius:1px;
            padding:2px;
            background:linear-gradient(to left,rgb(250, 246, 246),
            rgb(240, 173, 20));
            color:rgb(62, 10, 152)">
            << <a href="/">Back</a>
</div>