<h1>New users! Sign up here!</h1>

<form action="/users" method="post">
    <h3>Name:</h3><input type="text" name="name"><br>
    <h3>Email:</h3><input type="text" name="email"><br>
    <h3>Password:</h3><input type="password" name="password"><br>
    <br>
    <br>
    <input type="submit" name="" value="Create User">
</form>
<br>
<br>

<div style="display:inline-block;
            border:2px solid rgb(104, 9, 24);
            border-radius:1px;
            padding:5px;
            background:linear-gradient(to left,rgb(250, 246, 246),
            rgb(240, 173, 20));
            color:rgb(62, 10, 152)">
            << <a href="/">Back</a>
</div>