<h1>New users! Sign up here!</h1>

<form action="/users" method="post">
    <h3>Name:</h3><input type="text" name="name"><br>
    <h3>Email:</h3><input type="text" name="email"><br>
    <h3>Password:</h3><input type="text" name="password"><br>
    <br>
    <br>
    <input type="submit" name="" value="Create User">
</form>
<br>
<br>
<a href="/">Back</a>