<h1>New users! Sign up here!</h1>
<br>
<br>
<h3>
    <form action="/users" method="post">
        Name: <input type="text" name="name"> Email: <input type="text" name="email"> Password: <input type="password" name="password"> <input type="submit" name="" value="Create User">
    </form>
</h3>
<br>
<br>

<div style="display:inline-block;
            border:2px solid rgb(104, 9, 24);
            border-radius:1px;
            padding:5px;
            background:linear-gradient(to left,rgb(250, 246, 246),
            rgb(240, 173, 20));
            color:rgb(62, 10, 152)">
            << <a href="/">Back</a>         
</div>