<h1>New users! Sign up here!</h1>

<form action="/users" method="post">
    <input type="text" name="name" value="">
    <input type="text" name="email" value="">
    <input type="text" name="password" value="">
    <input type="submit" name="" value="Create User">
</form>